body
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #333333;

}

.slider-container
{
	position:relative;
	width:600px;
	height:300x;
	box-shadow: 1px 1px 2px white,-1px -1px 2px white;
}

.slider
{
	width:100%;
	height:100%;
}

.img
{
	width:100%;
	height:100%;
}

.previous,.next
{
	cursor: pointer;
	position: absolute;
	margin:  0 10px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	top:50%;
	transform: translateY(-50%);
	color: white;
	user-select: none;
	font-size: 20px;
	transition: 0.7s ease;
}

.next
{
	right:0;
}

span
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}

.previous:hover,.next:hover
{
	background-color: rgba(0, 0, 0, 0.8);
}